%li
  %label{:for => "title"} Title
  %input{:type => "text", :size => 60, :name => "title", :id => "title", :value => @workshop.title}
%li
  %label{:for => "description"} Description
  %textarea{:cols => 60, :rows => 4, :name => "description", :id => "description"}= @workshop.description
%li
  %label{:for => "invitees"} Invitees (email addresses, comma-separated)
  %textarea{:cols => 60, :rows => 4, :name => "invitees", :id => "invitees"}= @workshop.invitee_emails.join(', ')
- 0.upto(4) do |i|
  %li
    %label{:for => "start_#{i+1}_date"} Proposed Start Date
    %input{:type => 'date', :name => "start_#{i+1}_date", :id => "start_#{i+1}_date", :value => @proposals[i][:date]}
  %li
    %label{:for => "start_#{i+1}_time"} And Time
    %input{:type => 'time', :name => "start_#{i+1}_time", :id => "start_#{i+1}_time", :value => @proposals[i][:time]}
%li
  %label{:for => "send_invitations"} Send Invitations?
  %input{:type => "checkbox", :name => "send_invitations", :id => "send_invitations", :value => 1}
