%li
  %label{:for => 'title'} Title
  %input{:type => 'text', :size => 60, :name => 'title', :id => 'title'}
%li
  %label{:for => 'description'} Description
  %textarea{:cols => 60, :rows => 4, :name => 'description', :id => 'description'}
%li
  %label{:for => 'invitees'} Invitees (email addresses, comma-separated)
  %textarea{:cols => 60, :rows => 4, :name => 'invitees', :id => 'invitees'}
- 0.upto(4) do |i|
  %li
    %label{:for => "start_#{i+1}_date"} Proposed Start Date
    %input{:type => 'date', :name => "start_#{i+1}_date", :id => "start_#{i+1}_date", :placeholder => '2011-01-20'}
  %li
    %label{:for => "start_#{i+1}_time"} And Time
    %input{:type => 'time', :name => "start_#{i+1}_time", :id => "start_#{i+1}_time", :placeholder => '15:30'}
%li
  %label{:for => 'account_name'} Your Name
  %input{:type => 'text', :size => 60, :name => 'account_name', :id => 'account_name'}
%li
  %label{:for => 'account_email'} Your Email Address
  %input{:type => 'text', :size => 60, :name => 'account_email', :id => 'account_email'}
