- @title = "Edit Workshop"

%section
  %header
    %h1= @workshop.title
  %section
    %header
      %h1 Voting Summary
    %section
      %ol
        - @workshop.invitations.each_with_index do |invitation, i|
          %li= "#{i+1}. #{invitation.name_or_email}: #{invitation.voting_summary_s}"
      %p= link_to("Review Votes", url_for(:workshops, :votes, :id => @workshop.id))
  %section
    %form{:id => 'workshop_edit', :action => url_for(:workshops, :update, :id => @workshop.id), :method => :post}
      %fieldset
        %legend Edit Workshop
        %ul
          = partial 'workshops/f_edit'
          %li
            %input{:type => "submit", :name => "submit", :id => "submit", :value => 'Update'}
