%section
  %header
    %h1= "#{@workshop.title} - Votes by Participant"
  %section
    %p= @workshop.description
%section
  %header
    %h1 Participants
  %section
    %ol
      - @invitations.each_with_index do |invitation, i|
        - if invitation.id == @invitation.id
          %li= "#{i+1}. #{invitation.name_or_email} (Me)"
        - else
          %li= link_to ("#{i+1}. #{invitation.name_or_email}", url_for(:invitations, :votes, invitation.id))
%section
  %header
    %h1= "Voting for #{@invitation.name_or_email}"
  %section
    - if @can_edit
      %form{:action => url_for(:invitations, :update_votes, @invitation.id), :method => :post}
        =partial 'proposals/item', :collection => @proposals, :locals => {:invitation => @invitation, :editable => true}
        .group
          %input{:type => "submit", :name => "submit", :id => "submit", :value => 'Update'}    
    - else
      =partial 'proposals/item', :collection => @proposals, :locals => {:invitation => @invitation, :editable => false}
%nav{:class => 'workshop'}
  %ol
    %li= link_to("Edit", url_for(:workshops, :edit, @workshop.id))
