%section
  %header
    %h1= "#{@workshop.title} - Votes by Date and Time"
  %section
    %p= @workshop.description
%section
  %header
    %h1 Times
  %section
    %ol
      - @proposals.each_with_index do |proposal, i|
        %li
          - if proposal.id == @proposal.id
            = "#{i+1}. #{proposal.start_time_s} - #{proposal.voting_summary_s}"
          - else
            = link_to("#{i+1}. #{proposal.start_time_s} - #{proposal.voting_summary_s}", url_for(:proposals, :votes, proposal.id))
          - if @workshop.account.id == current_account.id
            %form{:id => 'finalize', :action => url_for(:proposals, :finalize, proposal.id), :method => :post}
              %input{:type => 'submit', :name => 'submit', :value => "Select This Time for Workshop"}
%section
  %header
    %h1= "Voting for #{@proposal.start_time_s}"
  %section
    %form{:action => url_for(:proposals, :update_votes, @proposal.id), :method => :post}
      =partial 'invitations/item', :collection => @invitations, :locals => {:proposal => @proposal, :invitation => @invitation}
      .group
        %input{:type => "submit", :name => "submit", :id => "submit", :value => 'Update'}    
%nav{:class => 'workshop'}
  %ol
    %li= link_to("Edit", url_for(:workshops, :edit, @workshop.id))
